/* <!-- 内容区 -->
<div>
  <!-- 个人信息区 -->
  <div>
    <!-- 头像 -->
    <div></div>
    <!-- 个人陈述 -->
    <div></div>
  </div>
  <!-- 项目区 -->
  <div></div>
</div> */
* {
  border: 1px solid red;
}

/* 整体布局 */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.nav {
  display: flex;
  background-color: #ccc;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  list-style: none;
  margin: 0;
}
li {
  border: 2px solid blue;
}
.page {
  display: flex;
  height: 90vh;
  width: 95vw;
  margin: auto;
  border-radius: 30px;
}

/* 页面一 */
#page1 {
}
#firstLeft {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
#headPicture {
  width: 300px;
  height: 300px;
}
#nickname {
  text-align: left;
  margin-left: 40px;
}
#tag {
  margin: 40px;
  font-size: 14px;
  color: #646464;
  line-height: 1.7;
}

#firstRight {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px solid #555454;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
}
#firstRight > p {
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
}

/* 页面二 */
#page2 {
  background-color: green;
}

/* 页面三 */
#page3 {
  background-color: blue;
}
